# === Java ===
*.class
*.jar
*.war
*.ear

# === IntelliJ IDEA ===
.idea/
*.iml
out/

# === VS Code ===
.vscode/

# === macOS ===
.DS_Store

# === Logs ===
*.log

# === OS Files ===
Thumbs.db
ehthumbs.db

# === Eclipse ===
.classpath
.project
.settings/

# === NetBeans ===
nbbuild/
nbproject/private/
build/
dist/
